extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    +alert-error()
    +alert-success()
    
    h1 Tổng quan

    .row.mt-4
      .col-12
        .card.mb-4
          .card-header Thông tin tài khoản
          .card-body
            if(user.avatar)
              img(
                src=user.avatar
                style="height: 100px;margin-bottom: 15px;"
              )
            if(user.fullName)
              p Họ tên: <b>#{user.fullName}</b>
            if(user.email)
              p Email: <b>#{user.email}</b>
            if(user.phone)
              p Số điện thoại: <b>#{user.phone}</b>
            if(role.title)
              p Phân quyền: <b>#{role.title}</b>
      .col-6
        .card.mb-4
          .card-header Tài khoản admin
          .card-body
            p Tổng số tài khoản: <b>#{totalAdmins}</b>
            p Hoạt động: <b>#{activeAdmins}</b>
            p Dừng hoạt động: <b>#{inactiveAdmins}</b>
